<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right" >
              	<div class="saveButton" ng-click="saveGallery()">
                     	שמור פרטים 
              	</div>
    </ion-nav-buttons> 
  
  <ion-content class="content">
  		<div class="editDealImage" align="center" ng-click="CameraOption()">
        	<div>
				<button class="button button-block button-positive">
				  לחצ/י להוספת תמונה
				</button>
            </div>
        </div>

		
		<div class="editDealImage" align="center" ng-repeat="(key, value) in galleryImages" >
        	<div>
        		<img ng-src="{{host+value}}" style="width:100%;" />
                <p id="imgEditText">לחץ על התמונה לעריכה</p>
            </div>
        </div>
		
		
		
		
        <div style="width:100%" align="center" >
              	<div class="saveButton" style="width:40%; margin-top:20px;" ng-click="saveGallery()">
                     	שמור פרטים 
              	</div>
        </div>
  </ion-content>
</ion-view>
