<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right" >
              <a href="#/app/profile" class="subdued">
              	<div class="saveButton">
                     	שמור פרטים 
              	</div>
              </a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
  		<div class="editProfileMain" align="center">
        	<div class="editProfileImage">
            	<div class="avatarImage" align="center" style="width:90%; margin-left:5%; position:relative;">
        			<img src="img/avatar.png" style="width:100%;" />
                </div>
                <p id="imgEditText" style="font-size:12px;">לחץ לעריכה</p>
            </div>
            <div class="editProfileMainText" align="center">
            	<div>
                    <input class="inputTextStyle" style="padding-right:10px;" type="text" value="" placeholder="שם העסק \ הלקוח" />
                    <div class="inputLine"></div>
           		</div>
                <div>
                    <input class="inputTextStyle" style="padding-right:10px; margin-top:15px;" type="text" value="" placeholder="כתובת" />
                    <div class="inputLine"></div>
           		</div>
            </div>
        </div>
        <div class="inputTextEdit" align="center" style="margin-top:-10px;">
        	<div>
            	<input class="inputTextStyle" type="text" value="" placeholder="איזור בארץ" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="טלפון" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="אימייל" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="קטגורייה" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="אתר אינטרנט" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="פייסבוק" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<textarea class="inputTextStyle" placeholder="קצת על העסק" rows="6" cols="50"></textarea>
                <div class="inputLine"></div>
            </div>
        </div>
        <div style="width:100%" align="center" >
        	<a href="#/app/profile" class="subdued">
              	<div class="saveButton" style="width:40%; margin-top:20px;">
                     	שמור פרטים 
              	</div>
            </a>
        </div>
  </ion-content>
</ion-view>
