<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right" >
              	<div class="saveButton" ng-click="SaveDeal()">
                     	שמור פרטים 
              	</div>
    </ion-nav-buttons> 
  
  <ion-content class="content">
  		<div class="editDealImage" align="center" ui-sref="app.dealGallery()">
        	<div>
        		<img ng-src="{{DealImage}}" style="width:100%;" />
                <p id="imgEditText">לחץ על התמונה לעריכה</p>
            </div>
        </div>
        <div class="inputTextEdit" align="center">
        	<div>
            	<input class="inputTextStyle" ng-model="Deal.title" type="text" value="" placeholder="כותרת הקופון" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="Deal.deal_date" type="text" onfocus="(this.type='date')" value="" placeholder="תוקף הקופון" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="Deal.old_price" type="text" onfocus="(this.type='number')"  value="" placeholder="מחיר לפני הנחה" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="Deal.price" type="text" onfocus="(this.type='number')"  value="" placeholder="מחיר אחרי הנחה" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<textarea class="inputTextStyle" ng-model="Deal.desc" placeholder="תיאור הקופון" rows="6" cols="50"></textarea>
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<textarea class="inputTextStyle" ng-model="Deal.smallletters" placeholder="האותיות הקטנות" rows="6" cols="50"></textarea>
                <div class="inputLine"></div>
            </div>
        </div>
        <div style="width:100%" align="center" >
              	<div class="saveButton" style="width:40%; margin-top:20px;" ng-click="SaveDeal()">
                     	שמור פרטים 
              	</div>
        </div>
  </ion-content>
</ion-view>
