<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>

  
  <ion-content class="content">

        <div class="inputTextEdit" align="center">

            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="login.email" type="text"  value="" placeholder="אימייל" />
                <div class="inputLine"></div>
            </div>
		
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="login.password" type="password"   value="" placeholder="סיסמה" />
                <div class="inputLine"></div>
            </div>



        </div>
        <div style="width:100%" align="center" >
              	<div class="saveButton" style="width:40%; margin-top:20px;" ng-click="loginBtn()">
                     	התחברות
              	</div>
        </div>
  </ion-content>
</ion-view>
