<ion-view hide-back-button="false" hide-nav-bar="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right">
       <a class="item-icon-right headerIcons" style="left:20px"   href="#" ng-if="userId"> 	
             <i class="icon ion-ios-plus-empty"></i> 
  		</a>

		<div class="saveButton" style="width:100%; margin-top:0px;" ui-sref="app.login()" ng-if="userId == ''">
				התחברות
		</div>
		<div class="saveButton" style="width:100%; margin-top:0px;"  ui-sref="app.register()" ng-if="userId == ''">
				הרשמה
		</div>		
        <a class="item-icon-right headerIcons" href="#" ng-click="ShowRightMenu()" ng-if="userId"> 
        	<i class="icon ion-ios-email-outline"></i> 	
  		</a>
        <a class="item-icon-right headerIcons" style="left:0px" href="#"  ng-click="ShowRightMenu()" > 
        	<i class="icon ion-ios-search"></i>	
  		</a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
    <ion-list>
       <div ng-repeat="Deal in Deals">
                <div class="list card" >
                  <div class="item item-body">
                    <a href="#/app/deal/{{$index}}" class="subdued" style="padding:0px; margin:0px;" >
                    <img class="fullImage" ng-src="{{host+'/'+Deal.image}}">
                    <p class="cardDesc">{{Deal.title}}</p>
                    <div class="cardPrice">
                          <span id="oldPrice">{{Deal.price}} ש"ח</span> <span id="newPrice">{{Deal.old_price}} ש"ח</span>
                    </div>
                     </a>
                    <div class="cardLine"></div>
                    
                    <p class="cardIcons">
                      <a class="cardTitle" style="text-align:right; float:right;" >{{SupplierName(Deal.supplier_index)}}</a>
                      <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-ios-eye-outline" style="font-size:20px; top:3px !important; position:relative;"></i> 
                      <a href="#" class="subdued" style="margin-left:8px !important;" >{{Deal.likes}} <i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> </a>
                      <a href="#" class="subdued" >232 <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"></i> </a>
                      
                    </p>
                   </a>
                  </div>
                </div>
       </div>
    </ion-list>
  </ion-content>
</ion-view>
