<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar align-title="left" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="{{sideMenuWidth}}">
    <ion-content>
    	<img src="img/menu_header.jpg" style="width:100%" />
        <div class="menuHeaderText">
        	<p>שי לוסקי</p>
            <p style="margin-top:-10px;">tapper.israel@gmail.com</p>
        </div>
      <ion-list>
        <!-- <ion-item menu-close  style="text-align:right !important;  border:none; margin-top:10px;"; href="#/app/search">
          	העסקאות שלנו  <i class="icon ion-bag" style="padding-left:4px !important; font-size:21px !important;"></i>
        </ion-item>
        <ion-item menu-close  style="text-align:right !important;  border:none; margin-top:-15px;"; href="#/app/search">
          	המועדפים שלי <i class="icon ion-android-star-outline" style="padding-left:5px !important; font-size:26px !important; margin-top:3px !important;"></i>
        </ion-item>
        <ion-item menu-close style="text-align:right !important; "; href="#/app/browse">
          	הפרופיל שלי <i class="icon ion-android-star-outline" style="padding-left:5px !important; font-size:26px !important; margin-top:3px !important;"></i>
        </ion-item>
        <ion-item menu-close  style="text-align:right !important; border-top:none; border-bottom:none"; href="#/app/playlists">
          	תקנון
        </ion-item>
        <ion-item menu-close  style="text-align:right !important; border-top:none; border-bottom:none"; href="#/app/playlists">
          	התנתק
        </ion-item>-->
        <ion-item menu-close href="#/app/Main" style="border-top:none !important;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">ראשי</span> <img src="img/menu_icons/home.png" style="width:12%; left:10px; " />
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/About" style="border-color:white !important; margin-top:-20px;">
          <div style="left:30px; position:relative; text-align:right;">
          		<span style="top:-7px; margin-right:7px; position:relative">העסקאות שלנו</span> <img src="img/menu_icons/i2.png" style="width:12%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close href="#" ng-click="myProducts()">
        	<div style="left:30px; position:relative; text-align:right">
         		 <span style="top:-7px; margin-right:7px; position:relative">המועדפים שלי</span> <img src="img/menu_icons/i3.png" style="width:12%; left:10px;  " />
                 </div>
        </ion-item>		
        <ion-item menu-close href="#/app/profile" ng-click="Foundphone()" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">הפרופיל שלי</span> <img src="img/menu_icons/i4.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>			
        <ion-item menu-close href="#/app/Contact" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">צור קשר</span> <img src="img/menu_icons/i5.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>
        <ion-item menu-close href="#/app/register" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">הרשמה</span> <img src="img/menu_icons/i5.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>

        <ion-item menu-close href="#/app/login" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">התחברות</span> <img src="img/menu_icons/i5.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>

		
        <ion-item menu-close href="#" ng-click="logout()" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
         	 <span style="top:-7px; margin-right:7px; position:relative">התנתקות</span> <img src="img/menu_icons/i6.png" style="width:12%; left:10px;  " />
             </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
