<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>

  
  <ion-content class="content">

        <div class="inputTextEdit" align="center">
        	<div>
            	<input class="inputTextStyle" ng-model="register.name" type="text" value="" placeholder="שם מלא" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="register.email" type="text"  value="" placeholder="אימייל" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="register.phone" type="tel"  value="" placeholder="טלפון" />
                <div class="inputLine"></div>
            </div>			
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" ng-model="register.password" type="password"   value="" placeholder="סיסמה" />
                <div class="inputLine"></div>
            </div>



        </div>
        <div style="width:100%" align="center" >
              	<div class="saveButton" style="width:40%; margin-top:20px;" ng-click="registerBtn()">
                     	הרשמה
              	</div>
        </div>
  </ion-content>
</ion-view>
